/* Shared styles */

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #4a4a4a;
    margin: 0;
    background-color: #f5f4f4;
}

/* Navigation */

nav {
    height: 4rem;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: white;
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    height: 100%;
    margin: auto 1.5rem;
    display: flex;
    align-items: center;
}

nav img {
    height: 2rem;
}

nav .logo1 {
    font-family: Ubuntu;
    font-weight: bold;
}

nav .logo2 {
    font-family: Ubuntu;
    font-weight: bold;
    color: gray;
}

nav ul {
    list-style: none;
    float: right;
    margin-right: 1.5rem;
}

nav ul li {
    margin: 0.5rem;
    display: inline;
}

/* Banner */

.banner {
    background-color: #d8d8d8;
    width: 100%;
    display: flex;
}

.banner .banner-img {
    width: 60%;
    height: auto;
    margin: 2rem 1.5rem;
}

.banner .banner-img img {
    width: 100%;
}

.banner .banner-words {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner .banner-words .button {
    background-color: #4a4a4a;
    color: white;
    padding: 0.5rem 3rem;
    width: 6rem;
}

/* Quote and Information */

.quote-information {
    display: inline-flex;
}

.quote {
    padding: 2rem 1.5rem;
    width: 60%;
    border-right: 1px solid #d8d8d8;
}

.quote .quote-img {
    width: 100%;
}

.quote .quote-img img {
    width: 100%;
}

.information {
    width: 40%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.information .information-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.information .information-container .information-img {
    vertical-align: middle;
    width: 35%;
}

.information .information-container .information-img img {
    width: 100%;
}

.information .information-container .information-words {
    padding: 1rem;
    width: 60%;
    vertical-align: middle;
}

/* Courses */

.courses {
    display: flex;
    flex-direction: column;
    padding: 2rem 3.5rem;
    background-color:  #d8d8d8;
    width: 100%;
}

.courses h1 {
    margin-bottom: 2rem;
    text-align: center;
}

.courses .course-container-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.courses .course-container-main .course-container {
    width: 30%;
    margin: 1rem;
    background-color: white;
}

.courses .course-container-main .course-container img {
    width: 100%;
}

.courses .course-container-main .course-container .course-words {
    padding: 1rem;
}

/* Thesis Exhibit */

h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    margin: 0 auto;
}

.exhibit {
    display: flex;
}

.exhibit .video {
    margin: 2rem 1.5rem;
    width: 60%;
}

.exhibit .thesis {
    margin: 2rem 0;
    width: 40%;
}

.exhibit .thesis-container {
    display: flex;
    flex-direction: row;
}

.exhibit .thesis-container img {
    width: 33%;
    padding: 1rem;
}

.exhibit .thesis-container .thesis-words {
    width: 60%;
    vertical-align: middle;
}

/* Footer */

footer {
    border-top: 1px solid  #d8d8d8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}